.background {
  background-repeat: no-repeat;
  background-position: center;
}

div {
  width: 1461px;
  border: 5px solid #00008B;
  padding: 10px;
  margin: 5px;
}

nav{
  overflow: hidden;
  background-color: blue;
  padding-top: 20px;
  padding-bottom: 10px;
}

.navbar{
	
  float: right;
  margin-right: 15px;
  color: white;
}

.imglogo{
  height: 72px;
  width: 72px;
  margin-left: 10px;
}

p {
  color: black;
}

.hr {
  color: white;
}

.Title{
  position: center;
  font-family: Times New Roman, siref;
  font-size: 100px;
  color: white;
  text-shadow: 2px 2px 8px #000000;
}

h2 {
  color: white;
}